{% extends 'base.html' %}
{% block content %}
<h1>Thông tin về nhóm</h1>
<main>
    <h2>1. Website quản lý và bán các mặt hàng thể thao được thực hiện bởi nhóm 12 </h2>
    <p>Bao gồm các thành viên sau :</p>
    <p>Bùi Trần Minh Kha - 2001207104</p>
    <p>Trịnh Lê Hoàng Dũ - 2001207403</p>
    <p>Giang Quốc Minh - 2001190674</p>
    <p>Nguyễn Bắc Trung - 2001207026</p>
    
    <h2>2. Về website</h2>
    <h5>Chức năng chính:</h5>
    <p>Trang chủ: Hiển thị các sản phẩm được giới thiệu. Khách hàng có thể tìm kiếm sản phẩm và truy cập vào các trang chi tiết.</p>
    <p>Trang chi tiết sản phẩm: Hiển thị đầy đủ thông tin về từng sản phẩm như hình ảnh, mô tả, giá cả, size, màu sắc, v.v. Khách hàng có thể thêm sản phẩm vào giỏ hàng từ trang này.</p>
    <p>Giỏ hàng và thanh toán: Khách hàng có thể quản lý các sản phẩm trong giỏ hàng, cập nhật số lượng, xem tổng giá trị đơn hàng và tiến hành thanh toán an toàn.</p>
    <p>Quản lý sản phẩm: Trang dành cho quản trị viên, cho phép thêm/sửa/xóa thông tin các sản phẩm, quản lý danh mục sản phẩm.</p>
    <p>Quản lý đơn hàng: Trang quản lý các đơn hàng của khách hàng, cho phép xem trạng thái đơn hàng, gửi email xác nhận đơn hàng, v.v.</p>
    
    <h5>Về mặt kỹ thuật:</h5>
    <p>Django: Sử dụng Django framework để xây dựng ứng dụng web, quản lý routing, views, models, templates.</p>
    <p>Visual Code: Sử dụng trình soạn thảo Visual Studio Code để phát triển code, debug, quản lý source code.</p>
    <p>SQLite: Sử dụng SQLite database để lưu trữ thông tin sản phẩm, đơn hàng, khách hàng.</p>
    <p>Python: Sử dụng ngôn ngữ lập trình Python để lập trình backend, xử lý logic nghiệp vụ.</p>
  </main>
  <footer>
    <p>&copy; Đề tài được làm tâm huyết bởi nhóm 12 </p>
  </footer>

{% endblock %}