{% extends 'base.html' %}
{% block content %}
<style>
    .box_mid .box_mid-title{
        position: relative;
        text-align: left;
        overflow: hidden;
        font-weight: normal;
        background: #fff;
        max-height: 36px;
    }
    element.style{
        visibility: visible;
        animation-delay: 0.5s;
        animation-name: fadeIn;
    }
    .box_mid .box_mid-title .mid_title_l{
        font-size: 20px;
        line-height: 36px;
        font-weight: normal;
        display: inline-block;
        position: relative;
        text-transform: uppercase;
        color: #fff;
        background: #ff0000;
        padding: 0 15px;
        border-radius: 5px;
        border-bottom-right-radius: 0;
    }

    .box_mid .box_mid-title .mid_title_r{
        float: right;
    }
    #tth-content{
        width: 81%;
        padding-left: 0
    }


</style>
<div id="tth-content">
<div id="column_left" style="line-height: 150%; box-sizing: border-box;"></div>
<div class="box_mid  wow fadeIn" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
    <div class="box_mid-title">
        <h1 class="mid_title_l">Big Sport Shop</h1>
        <div class="mid_title_r"></div>
        <div class="clear"></div>
    </div>
    <div class="box_mid-content"><div id="contact_content">
        <div id="contact_form"><p><strong><img class="" src="https://phuongvyshop.vn/uploads/contact/icon/marker.png?1485424934357" alt="" width="20" height="20">&nbsp; 306 Lê Trọng Tấn - Phường Tây Thạnh - Quận Tân Phú - Thành phố Hồ Chí Minh</strong></p>
            <p style="padding-left: 30px;"><strong>Định vị Google Maps : <span style="color: #339966;"><a style="color: #339966;" href="https://goo.gl/maps/zzGhozcokuS2" target="_blank" rel="noopener noreferrer">https://goo.gl/maps/zzGhozcokuS2</a></span><br></strong></p>
            <p><strong><strong>&nbsp; &nbsp; &nbsp; Open:&nbsp;9g -&nbsp;19g (CN ngh</strong>ỉ)</strong></p>
            <p><strong><span class="text"><img class="" src="https://phuongvyshop.vn/uploads/contact/icon/phone_icon.png?1486456644597" alt="" width="28" height="31">&nbsp;<span style="font-size: 16px; color: #0000ff;">0919 699 988 - 0788 399 988</span></span></strong></p>
            <p><strong>&nbsp;<img class="" src="https://phuongvyshop.vn/uploads/contact/icon/chrome.png?1485424870222" alt="" width="20" height="20">&nbsp; <a href="http://www.phuongvyshop.com/" target="_blank" rel="noopener noreferrer">www.bigsportshop.com</a></strong></p>
            <p><strong><img class="" src="https://phuongvyshop.vn/uploads/contact/icon/gmail_icon.gif?1485424902398" alt="" width="26" height="26">&nbsp;&nbsp;<a href="mailto:phuongvyshop.com@gmail.com">bigsportshop.com@gmail.com</a></strong></p>
            <p><strong><span class="text"><img class="" src="https://phuongvyshop.vn/uploads/contact/icon/facebook_icon.gif?1485425033541" alt="" width="24" height="22">&nbsp;&nbsp;<a href="http://www.facebook.com/phuongvyshop" target="_blank" rel="noopener noreferrer">www.facebook.com/bigsportshop</a></span></strong></p>
            <p><strong><span class="text"><a href="https://www.youtube.com/user/phuongvyshop/videos" target="_blank" rel="noopener noreferrer"><img src="https://phuongvyshop.vn/uploads/contact/2016_12/share-03.png?1486456456724" alt="" width="24" height="24">&nbsp; www.youtube.com/bigsportshop</a></span></strong></p>
            <p>&nbsp;</p>
            <p>&nbsp;<img src="https://caulongonline.com/uploads/images/9cd9436560d3ae48c68628e810338453-2666352857814196637.jpg" alt="20200111_170714"></p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
    </div>
</div>
</div>
{% endblock %}